@charset "utf-8";
/* CSS Document */

/*Kod za dugme*/

/* Napomena, dugme se previ preko linka:
   <a href="#" class="dugme"> Heeeeej </a>   
*/

.dugme{
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px; 

  color: #fffef4;
  background: #61a6ab;
  
  font-family: Arial;
  font-size: 18px;
  text-decoration: none;

  padding: 8px 17px 8px 17px;
  margin:5px 5px 5px 5px;
  
  border-width:1px;
  border-color:#605951;
  border-style:solid;
}

	.dugme:hover {
	  background: #d9ccb1;
	  text-decoration: none;
	  cursor:pointer;
	}