@charset "utf-8";
/* Teodora Aleksic, 391/12 */

#banerPolje{
	width:80%;
	
	background-image:url(http://localhost/Slike/Profilna/Baner.jpg);
	background-position:right;
	
	padding:4% 0 3% 0;
	
	border-width:1px;
	border-color:#605951;
	border-style:solid;
}

	#banerPolje:hover{
		cursor:pointer;
	}

	.banerTekst{
		color:#605951;
		font-size:24px;
		font-family:Tahoma, Geneva, sans-serif;
	}

#profilnaSlika{
	width:70%;
	
	padding:0 0 0 0;
	
	border-width:2px;
	border-color:#605951;
	border-style:solid;
}

.tekstForme{	
	color:#605951;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	
	border-width:1px;
	border-color:#605951;
	border-style:solid;
}

	.tekstForme:focus{		
		outline-width:2px;
		outline-style:solid;
		outline-color:#61a6ab;
	}
	
.tekstPolje{
	width:50%;
	height:150px;	
	resize:none;
	
	background-color: rgba(172, 206, 192, 0.3);
	
	color:#605951;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	text-align: justify;
	
	opacity:0.7;
	
	padding:3px;
	outline:none;
	
	border:2px solid #605951;
	-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

}

.greska{
    color:#E13300;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
    font-style:italic;
}
	