@charset "utf-8";

.mis{
    cursor:pointer;
}

.dodajproizvod{
	 width: 350px;
    height: 220px;
    /*margin: 10px; */
    float: left;
	border:2px dotted #605951;
    overflow: hidden;
    text-align: center;
    cursor: default;   
	text-align:center;
        text-valign:middle;
	cursor:pointer;
	color:#605951;
	font-size:30px;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
}

.dodajvideo{
	 width: 350px;
    height: 220px;
    /*margin: 10px; */
    float: left;
	border:2px dotted #605951;
    overflow: hidden;
    text-align: center;
    cursor: default;   
	text-align:center;
        text-valign:middle;
	cursor:pointer;
	color:#605951;
	font-size:30px;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
}

.dodajproizvod:hover{
	background-color: rgba(172, 206, 192, 0.3);		
}

.dodajvideo:hover{
        background-color: rgba(172, 206, 192, 0.3);
}