@charset "utf-8";
/* CSS Document */

#prazan{  
	width:100%;
	height:100%;
	opacity:0.8;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	z-index:101;
}


#prijavaProizvoda{
	width:20%;
	height:30%;
	top:20%;
	left:35.5%;
	position:fixed;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:102;
}

.naslovPrijavaProizvoda{
	width:100%;
	height:13%;
	font-size:2.75vh;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tabelaPrijavaProizvoda{
	width:100%;
	height:90%;
	font-size:1.75vh;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

.inputPopUpPrijava{
	width:97%;
	font-size:2vh;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;
	padding:0.7vh;
	border:1px solid #ACCEC0;		
}

#odluka{
	width:20%;
	height:20%;
	top:20%;
	left:35.5%;
	position:fixed;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:102;
}

.naslovOdluka{
	width:100%;
	height:18%;
	font-size:2.75vh;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tabelaOdluka{
	width:100%;
	height:90%;
	font-size:1.75vh;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

/* komponente za prijavu */

#prijava{
	width:24%;
	top:20%;
	left:38%;
	position:absolute;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:102;	
}

.naslovPrijava{
	width:100%;
	height:32px;
	font-size:23px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tabelaPrijava{
	width:100%;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}
/* komponente za prozor sa zaboravljenom lozinkom */

#zaboravljenaLozinka{
	width:24%;
	top:20%;
	left:38%;
	position:absolute;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:102;
}

.naslovZL{
	width:100%;
        height:32px;
	font-size:23px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;	
}

.tabelaZL{
	width:100%;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

/* komponente za registraciju */

#registracija{
	width:22%;
	top:10%;
	left:39%;
	position:absolute;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:102;
}

.naslovRegistracija{
	width:100%;
	height:32px;
	font-size:23px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;	
}

.tabelaRegistracija{
	width:100%;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

.textRed{
    height:35px; 
}

.inputRed{
    height:60px; 
}

.error{
    font-size: 14px;
    height: 25px;
    margin-top:4px;
}

/* komponente za obavestenje */

#obavestenje{
	width:24%;
	height:16%;
	top:10%;
	left:38%;
	position:fixed;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:103;
}

#naslovObavestenje{
	width:100%;
	height:21.875%;
	font-size:2.25vh;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;	
}

.tabelaObavestenje{
	width:100%;
	height:78.125%;
	font-size:1.75vh;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;
	text-align:center;
}

/*Komponente za upozorenje*/

#upozorenje{
	width:24%;
	height:16%;
	top:10%;
	left:38%;
	position:fixed;
	visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:103;
}

#naslovUpozorenje{
	width:100%;
	height:21.875%;
	font-size:2.25vh;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;	
}

.tabelaUpozorenje{
	width:100%;
	height:78.125%;
	font-size:1.75vh;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;
	text-align:center;
}

/*Prijava komentar video */

#prijavaVideaKomentar{
	width:24%; 
	top:20%;
	left:38%;
	position:fixed;
        visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:105;	
}

.naslovPrijavaVideaKomentar{
	width:100%;
	height:32px;
	font-size:23px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tabelaPrijavaVideaKomentar{
	width:100%;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

/*Prijava komentara proizvod*/

#prijavaProizvodKomentar{
	width:24%; 
	top:20%;
	left:38%;
	position:fixed;
        visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:105;	
}

.naslovPrijavProizvodKomentar{
	width:100%;
	height:32px;
	font-size:23px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tabelaPrijavaProizvodKomentar{
	width:100%;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

/*Prijava video*/

#prijavaVideo{
	width:24%; 
	top:20%;
	left:38%;
	position:fixed;
        visibility:hidden;
	background-color:#fffef4;
	border:2px solid #ACCEC0;
	border-radius:10px;
	z-index:105;	
}

.naslovPrijavVideo{
	width:100%;
	height:32px;
	font-size:23px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#fffef4;
	background-color:#ACCEC0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tabelaPrijavaVideo{
	width:100%;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;	
}

/* ostale zajednicke komponente */

.praznaCelijaPopUp{
	width:12%;
}

.celijaDugmePopUp{
	width:38%;
}

.inputPopUp{
	width:100%;
	font-size:20px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;
	padding:0.7vh;
	border:1px solid #ACCEC0;		
}
	.inputPopUp:focus{
   		outline:1px solid #ACCEC0;
	}
	
.linkPopUp{
	cursor:pointer;
	color:#605951;	
}

.dugmePopUp{
	width:75%;
	text-align:center;
	font-family: Arial;
        font-size: 18px;
        text-decoration: none;
	color: #fffef4;
	background-color:#ACCEC0;
	border-radius: 7px; 
	border-width:1px;
  	border-color:#605951;
 	border-style:solid;
	padding: 0.75vh 1vh 0.75vh 1vh;
	cursor:pointer;
    /*margin:10px 10px 10px 10px;*/
}

	.dugmePopUp:hover {
	  background: #d9ccb1;	  
	}
	
.slikaPopUp{
	width:30px;
	height:30px;
	position:absolute;
	right:0vh;
	top:0vh;
	cursor:pointer;
	z-index:102;
}
	.slikaPopUp:hover {
		content:url("http://localhost/Slike/Pop-up/Putaca 4.png");
	}