@charset "utf-8";
/* CSS Document */

/* Milos Andric, 206/12 */

#postavkaVidea{
	width:60%;
	margin-left:20%;
}

.videoOpis{
	width:80%;
	height:120px;
	border:2px solid #605951;/*-----------------------------------------------------------------------------------*/
	resize:none;
	text-align: justify;
	font-family:Tahoma, Geneva, sans-serif;
	color:#605951;
	padding:3px;
	opacity:0.7;
	outline:none;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	/*background-color: rgba(172, 206, 192, 0.3);*/
}

.preostalokaraktera{
	color:#605951;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}

.tekstPolje{
	width:200px;	
	color:#605951;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	border-width:1px;
	border-color:#605951;
	border-style:solid;
	padding:2px;
}
	.tekstPolje:focus{		
		outline:2px solid #61a6ab;
	}
	
.kategorije{
	width:204px;
	color:#605951;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	border-width:1px;
	border-color:#605951;
	border-style:solid;
	padding:2px;
}
	.kategorije:focus{		
		outline:2px solid #61a6ab;
	}
        
input[type="file"] {
    display: none;
    color: white!important;
}