@charset "utf-8";
/* Tijana Trifunovic, 311/12 */
/* CSS Document */
/*dugme za sort, neselektovano*/
.btn {
	padding:20px 10px 10px 10px;
	margin:0 1px 0 0;
	text-decoration:none;
	text-align:center;
	color:#605951;
	cursor:pointer;
	background:#fffef4;
	border-bottom:10px solid #605951;
	border-top: 1px solid #605951;
	/*border-left: 1px solid #605951;
	border-right: 1px solid #605951;*/
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;

	
	
}
.btnUcitajJos {
	padding:20px 10px 10px 10px;
	margin:0 1px 0 0;
	text-decoration:none;
	text-align:center;
	color:#605951;
	cursor:pointer;
	background:#fffef4;
	border-bottom:10px solid #605951;
	border-top: 1px solid #605951;
	/*border-left: 1px solid #605951;
	border-right: 1px solid #605951;*/
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;

	
	
}
/*prvi put selektovano dugme za sort*/
.active {
	padding:20px 10px 10px 10px;
	margin:0 1px 0 0;
	text-decoration:none;
	text-align:center;
	
	cursor:pointer;
	background:#fffef4;
	
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	border-bottom:10px solid #accec0;
	border-top: 1px solid #accec0;
	color:#accec0;
}
/*drugi put selektovano dugme za sort*/
.dblclick {
	padding:20px 10px 10px 10px;
	margin:0 1px 0 0;
	text-decoration:none;
	text-align:center;
	
	cursor:pointer;
	background:#fffef4;
	
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	border-bottom:10px solid #61a6ab;
	border-top: 1px solid #61a6ab;
	color:#61a6ab;
}
/*nesto vezano za dugme za sort, msm da nije bitno*/
.button-group-navigation li {
	display:inline-block;
	list-style:none;
	padding:0;
	margin:0;
	zoom:1;
	background:#fffef4;

}

/*Ovo je za video-e*/
	
		.view {
    width: 350px;
    height: 270px;
    margin: 10px;
    float: left;
    
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.dodajproizvod{
	 width: 350px;
    height: 270px;
    margin: 10px;
    float: left;
	border:2px dotted #605951;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;   
	text-align:center;
	cursor:pointer;
	color:#605951;
	font-size:30px;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
	vertical-align:middle;
}
.dodajproizvod:hover{
	/*background-color: rgba(217, 204, 177, 0.5);*/	
	/*background-color: rgba(96, 89, 81, 0.5);	*/
	/*background-color: rgba(255, 254, 244, 0.5);	*/
	/*background-color: rgba(97, 166, 171, 0.5);	*/
	background-color: rgba(172, 206, 192, 0.3);	
	
}
.view .mask, .view .content {
    width: 350px;
    height: 270px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  /*  margin: 20px 0 0 0*/
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-third img { 	
    transition: all 0.2s ease-in; 
}
.view-third .mask { 
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	transform: translate(460px, -100px) rotate(180deg);
	transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2{
	transform: translateY(-200px);
	transition: all 0.2s ease-in-out;
}
.view-third p { 
	transform: translateX(350px) rotate(90deg);
	transition: all 0.2s ease-in-out;
}
.view-third a.info { 
	transform: translateY(50px);
	transition: all 0.2s ease-in-out;
}
.view-third:hover .mask { 
	opacity:1; 
	transition-delay: 0s;							 
	transform: translate(0px, 0px);
}
.view-third:hover h2 { 
	transform: translateY(-20px); 
	transition-delay: 0.5s; 
}
.view-third:hover p	{ 
    transform: translateX(0px) rotate(0deg);
	transition-delay: 0.4s;
}
.view-third:hover a.info { 
	transform: translateY(-10px);
	transition-delay: 0.3s;
}

/*Datum na slici i animacija za njega*/
.datumNaSlici{
	position:absolute; 
	right:0; bottom:0; 
	color:#fffef4;
	font-size:10px;
}
.view-third .datumNaSlici{
	transform: translateX(300px);
	transition: all 0.4s ease-in-out;
}
.view-third:hover .datumNaSlici{
	transform: translateX(0px);
	transition-delay:0.4s;
}